@charset "utf-8";
$base: #B3D4FC;
$back: #EBEEED;
$nav: #32393D;
$line: #EC6A47;

@import "bootstrap";
/* @import "compass"; */

@mixin b-line-top {
  box-shadow: inset 0 2px 0 0 $line;
}

@mixin b-line-buttom {
  box-shadow: inset 0 -2px 0 0 $line;
}

html{
  height: 100%;
}

body {
  background-color: white;
  height: 100%;
  font-size: 15px;
  line-height: 1.8em;
}

li {
  list-style: outside none none;
}

header {
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

section{
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: auto;
}

@mixin box-item {
  background-color: white;
  display: block;
  margin-bottom: 30px;
  @media (min-width: $screen-sm-min) {
    margin-bottom: 60px;
  }
}

// header
#nav-right {
  a {
    &:hover {
      @include b-line-buttom;
    }
  }
}

.navbar {
  margin: 0 0;
}

// footer
#footer {
  background: $nav;
  width: 100%;
  min-height: 200px;
  color: white;
  img {
    width: 40px;
    height: 40px;
  }
  a {
    text-decoration: none;
    color: white;
    &:hover{
      color: $line;
    }
  }
  .footer-logo{
    margin-right: 10px;
    margin-left: 10px;
    background: white;
    &:hover{
      border: solid 2px $line;
      margin: -2px 9px;
      background-color: white;
    }
  }
}

#footer-info {
  margin-top: 50px;
  display: block;
  text-align: center;
  @media (min-width: $screen-md-min) {
    margin-top: 120px;
    text-align: left;
  }
}

#asn {
  padding-top: 20px;
  h2 {
    text-align: center;
  }
}

#copy {
  p {
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    @include b-line-top;
  }
}

#asn-share {
  text-align: right;
}

// ページTOP
.top-img {
  background: url('../images/a2.jpg') no-repeat fixed center 0 / cover transparent;
  display: block;
  min-height: 60%;
  width: 100%;
}

.main-title{
  margin-top: 5%;
  color: #fff;
  /* font-size: 40px; */
  h1,h2{
    font-weight: bold;
  }
}


// トップページ
#top {
}

#top-sponsers {
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-bottom: 150px;
  ul {
    @include box-item;
    margin-top: 30px;
  } 
}

// イベント・店舗 共用

@mixin responsive-img-size {
  img {
    max-height: 300px;
    height: 70%;
    width: 100%;
  }
  @media (min-width: $screen-sm-min) {
    img {
      height: 320px;
    }
  }
  @media (min-width: $screen-md-min) {
    img{
      width: 420px;
      height: 280px;
    }
  }
}

.img-area {
  padding-left: 0;
  padding-right: 0;
}

.text-area{
  padding-top: 10px;
  padding-bottom: 5px;
}

// shoplist
#shop {
  margin-top: 60px;
  @include responsive-img-size;
  .shop-item { 
    @include box-item;
    position: relative;
  }
  .shop-name {
    margin: {
      top: 10px;
      bottom: 10px;
    }
    @include b-line-buttom;
    .text-area {
      margin: 5px auto;
    }
  }
  @media (max-width: $screen-xs-max) {
    .icon-area {
      text-align: center;
    }
    .icon-area a {
      margin: 0 5px;
    }
  }
  @media (min-width: $screen-sm-min) {
    .icon-area {
      display: block;
      position: absolute;
      bottom: 20px;
      right: 15px;
    }
    .icon-area {
      margin-left: 5px;
      margin-right: 5px;
    }
    .icon-area a {
      margin: 0 10px;
    }
  }
}

// envetlist
#event {
  @include responsive-img-size;
  margin-top: 60px;
  h1,h2,h3,h4,h5,h6 {
    margin: {
      top: 5px;
      bottom: 5px;
    }
  }
  h3 {
    @include b-line-buttom;
  }
  .event-name {
    margin: {
      top: 10px;
      bottom: 10px;
    }
  }
  .event-sub {
    margin: 2px 0;
  }
  .event-item {
    @include box-item;
    position: relative;
  }
  .logo-area {
    @media (min-width: $screen-md-min) {
      text-align: left;
      position: absolute;
      bottom: 5px;
      right: 20px;
    }
    * {
      margin: 0 10px;
      transition: all 1s ease;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
  .logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  body {
    background-color: $back;
    font-size: 16px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
