@charset "utf-8";
$base: #B3D4FC;
$back: #EBEEED;
$nav: #32393D;
$line: #EC6A47;

@import "bootstrap";
/* @import "compass"; */

@mixin b-line-top {
  border-top: solid 2px $line;
}

@mixin b-line-buttom {
  border-bottom: solid 2px $line;
}

html{
  height: 100%;
}

body {
  background-color: white;
  height: 100%;
  font-size: 15px;
  line-height: 1.8em;
}

header {
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

section{
  overflow: auto;
}

// header
#nav-right {
  a {
    &:hover {
      border-bottom: {
        width: 2px;
        color: $line;
        style: solid;
      }
    }
  }
}

.navbar {
  margin: 0 0;
}

// footer
#footer {
  background: $nav;
  width: 100%;
  min-height: 200px;
  color: white;
  p {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    padding-top: 15px;
    @include b-line-top;
  }
}

#footer-info {
  display: block;
}

// ページTOP
.top-img {
  background: url('../images/a2.jpg') no-repeat fixed center 0 / cover transparent;
  display: block;
  min-height: 60%;
  width: 100%;
}

.main-title{
  margin-top: 5%;
  color: #fff;
  /* font-size: 40px; */
  h1,h2{
    font-weight: bold;
  }
}


// トップページ
#top {
  section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #top-recruit {
    text-align: center;
    display: block;
    margin: 20px 0;
  }
  .recruit-item {
    margin-top: 30px;
  }
}

// イベント・店舗 共用

@mixin responsive-img-size {
  img {
    height: 200px;
    width: 100%;
  }
  @media (min-width: $screen-sm-min) {
    img {
      height: 320px;
    }
  }
  @media (min-width: $screen-md-min) {
    img{
      width: 420px;
      height: 280px;
    }
  }
}

@mixin box-item {
  background-color: white;
  display: block;
  margin-bottom: 30px;
  @media (min-width: $screen-sm-min) {
    margin-bottom: 60px;
  }
}

.img-area {
  padding-left: 0;
  padding-right: 0;
}

.text-area{
  padding-top: 10px;
  padding-bottom: 5px;
}

// shoplist
#shop {
  margin-top: 60px;
  @include responsive-img-size;
  .shop-item { 
    @include box-item;
  }
  .shop-name {
    margin: {
      top: 10px;
      bottom: 10px;
    }
    @include b-line-buttom;
  }
}

// envetlist
#event {
  @include responsive-img-size;
  margin-top: 60px;
  h1,h2,h3,h4,h5,h6 {
    margin: {
      top: 5px;
      bottom: 5px;
    }
  }
  h3 {
    @include b-line-buttom;
  }
  .event-name {
    margin: {
      top: 10px;
      bottom: 10px;
    }
  }
  .event-sub {
    margin: 2px 0;
  }
  .event-item {
    @include box-item;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  body {
    background-color: $back;
    font-size: 16px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
