#event {
  background-color: white;
  margin: 60px auto 10px;
  padding: 20px 20px;
  @media (max-width: $screen-sm-min) {
    margin: 50px auto 5px;
    padding: 5px 2px;
  }
}

.event-name {
  font-size: 24px;
  border-bottom: solid 1px #eee;
}

.envet-intro-text {
  border-top: 5px;
  line-height: 26px;
}
