#shoppage {
  background: white;
  margin: 60px auto 10px;
  padding: 20px 20px;
  h1{
    font-size: 24px;
    border-bottom: solid 1px #eee;
  }
  p {
    line-height: 26px;
  }
  table {
    margin: 30px 0;
  }
  .gmap {
    max-width: 720px;
    margin: 20px auto;
  }
  iframe {
    width: 700px;
    height: 300px;
  }
  @media (max-width: $screen-sm-min) {
    margin: 50px auto 5px;
    padding: 5px 2px;
    table{
      margin-top: 30px;
    }
    iframe{
      max-width: 100%;
      max-height: 50%;
    }
  }
}
