@charset "utf-8";
$base: #B3D4FC;
$back: #EBEEED;
$nav: #32393D;
$line: #EC6A47;

@import "bootstrap";
@import "base";
@import "footer";
@import "header";
@import "pagetop";
@import "top";
@import "listpage";
@import "shoplist";
@import "eventlist";

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  body {
    background-color: $back;
    font-size: 14px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
