@mixin b-line-top {
  box-shadow: inset 0 2px 0 0 $line;
}

@mixin b-line-buttom {
  box-shadow: inset 0 -2px 0 0 $line;
}

@mixin box-item {
  background-color: white;
  display: block;
  margin-bottom: 30px;
  @media (min-width: $screen-sm-min) {
    margin-bottom: 60px;
  }
}

html{
  height: 100%;
}

body {
  /* background-color: white; */
  background-color: $back;
  height: 100%;
  font-size: 14px;
  line-height: 1.8em;
}

li {
  list-style: outside none none;
}

section{
  margin-top: 50px;
  margin-bottom: 50px;
}
